/**
 * 
 *
 */

@font-face {
  font-family: "Carlito-Bold";
  src: url("../font/Carlito-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("../font/Carlito.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  font-size: 17px;
  font-family: "Carlito";
  background-color: #fff;
  font-weight: 400;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  color: #292929;
  height: 100%;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
ul{
  margin: 0;
}
li {
  list-style-type: none;
}

a {
  color: #5bb66f;
  transition: 1s;
}

a:hover {
  color: #5dd276;
}

header {
  background-color: #f1efefc5;
  height: 163px;
  position: relative
}

.inner-block {
  display: flex;
  align-items:center;
  height: 100%;
  justify-content: space-between;  
  padding: 0 50px 0 50px;
}
.short-water{
  cursor: pointer;
}
.ham-menu,
.ham-menu-x {
  height: 40px;
  min-width: 40px; 
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 12px;
  /* margin-right: 266px; */
  box-shadow: -2px -1px 2px 1px #00000047;
}
.ham-menu-x {
  margin-right: 0;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b2b2b2;
}

.ham-menu > span {
  display: block;
  background-color: #b2b2b2;
  height: 3px;
  width: 16px;
  margin: 0 auto;
  margin-bottom: 4px;
  border-radius: 5px;
}

.logotiap-block {
  max-width: 146px;
  margin: 0 auto;
  /* padding: 54px 0 57px; */
  height: 163px;
  display: flex;
  align-items:center;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.buttons-menu { 
}

.mini-navigation {
  display: flex;
}

.mini-navigation > li {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 14px;
  margin-left: 52px;
  box-shadow: -2px -1px 2px 1px #00000047;
}

.mini-navigation > li > a > svg {
  display: block;
  margin: 0 auto;
}

.navbar {
  height: 65px;
  background-color: #4f9f61;
}

.navbar > .inner-block {
  margin: 0 auto;
}

.ul-navbar {
  display: flex;
  padding: 15px 0 15px;
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  /* display: inline-block; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: flex-start;
}

.ul-navbar > li {
  margin-left: 50px;
  color: #fff;
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start; 
}

.ul-navbar > li > img {
  margin-right: 18px;
}
.ul-navbar > li:nth-of-type(1) {
  margin-left: 0px;
}

.section {
  position: relative;
  width: 100%;
  height: 754px;
}

.section-1 {
  background-image: url("../img/png/1.png");

  background-size: cover;
  background-position: center;
}

.section-2 {
  background-image: url("../img/png/2.png") !important;
  background-size: cover;
  background-position: center;
}

.section-3 {
  background-image: url("../img/png/1.png") !important;
  background-size: cover;
  background-position: center;
}

.section-4 {
  background-image: url("../img/png/2.png") !important;
  background-size: cover;
  background-position: center;
}

.block-8 {
  width: 370px;
  min-height: 254px;
  margin-top: 80px;
  margin-left: 218px;
  background-color: #645c56e7;
  padding: 43px 0 0 48px;
  color: #fff;
}

/* .block-8>div {
    margin: 30px 0;
} */

.block-8 > div > ul {
  padding-inline-start: 0px;
}

.block-8 > div > ul > li {
  margin-bottom: 15px;
}

.block-8 > div > ul > li > img {
  margin-right: 15px;
}

.slider-button {
  max-width: 170px;
  margin: 0 auto;
}

label {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 100px 17px 0 0px;
  position: relative;
  width: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out 0.5s;
  -moz-transition: background ease-in-out 0.5s;
  -o-transition: background ease-in-out 0.5s;
  transition: background ease-in-out 0.5s;
}

label:after {
  border: 2px solid #fff;
  background-color: #fff;
  content: " ";
  display: block;
  height: 20px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  transition: 0.5s;
}

label:hover:after,
.controls label:nth-of-type(1),
.controls label:nth-of-type(2),
.controls label:nth-of-type(3),
.controls label:nth-of-type(4) {
  background: #429957;
}

label.act-slid:after {
  background: #429957;
}

.aspects {
  margin-top: 123px;
  text-align: center;
  min-height: 200px;
}

.nav-aspects {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  padding: 0;
}

.nav-aspects > li {
  padding: 10px 0px; 
  flex: 1 0 auto;
  align-self: auto;
}

.aspect-block {
  max-width: 380px; 
  font-family: "Carlito-Bold";
  margin: 0 auto;
}

.aspect-block > div {
  background-color: #616060;
  width: 170px;
  height: 72px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 30px;
}

.aspect-block > div > img {
  margin: 0 10px;
}

.assortment {
  margin-top: 25px;
  padding: 0 143px;
}

.title-assortment {
  font-family: "Carlito-Bold";
  text-align: center;
}
.title-section {
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
.title-section * {
  font-weight: 700;
}

.content-assortment {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  min-height: 300px;
}

.short-description {
  flex: 4;
  font-family: "Carlito-Bold";
  margin-right: auto;
  width: 400px;
}

.short-description > div {
  padding: 5px 15px;
  position: relative;
  top: 0;
  left: -15px;
  border-radius: 20px;
  /* border-bottom-left-radius: 10px; */
  font-size: 17px;
  background-image: linear-gradient(90deg, #f2f1f0, #f2f1f000);
  font-weight: bold;
  margin-bottom: 10px;
  max-width: 250px;
}

.short-description > ul {
  padding-inline-start: 0px;
}

.short-description > ul > li {
  margin-bottom: 5px;
}

.full-description {
  flex: 6;  
  position: relative;
  height: 350px;
  border-radius: 75px;
}
.full-description > img{
    height: 350px;
    width: 100%;
}

.button-description > span:nth-of-type(1) {
  position: absolute;
  top: -17px;
  left: 50%;
  display: block;
  width: 35px;
  height: 35px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #429957;
  border-radius: 50%;
  z-index: 100;
}

.switcher-description-up {
  position: absolute;
  top: 12px;
  left: 12px;
  transform: rotate(270deg);
  z-index: 150;
}

.sw {
  cursor: pointer;
}

.button-description > span:nth-of-type(2) {
  position: absolute;
  bottom: -17px;
  left: 50%;
  display: block;
  width: 35px;
  height: 35px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #429957;
  border-radius: 50%;
  z-index: 100;
}

.switcher-description-down {
  position: absolute;
  top: 12px;
  left: 12px;
  transform: rotate(90deg);
  z-index: 150;
}

.prew-tea {
  position: absolute;
  bottom: 0;
  left: -25px;
}

.paralax > img:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  left: -25px;
}

.paralax > img:nth-of-type(2) {
  position: absolute;
  top: 60px;
  left: 10px;
}

.paralax > img:nth-of-type(3) {
  position: absolute;
  bottom: 15px;
  left: 0;
}

.paralax > img:nth-of-type(4) {
  position: absolute;
  bottom: 25px;
}

.paralax > img:nth-of-type(5) {
  position: absolute;
  bottom: 0;
  left: 70px;
  z-index: 1;
}

.paralax > img:nth-of-type(6) {
  position: absolute;
  bottom: 0;
  left: 75px;
  z-index: 3;
}

.paralax > img:nth-of-type(7) {
  position: absolute;
  bottom: 0;
  /* left: 155px; */
   margin-left: 155px ;
  z-index: 1;
}

.pr {
  height: 270px;
  width: 100px;
  z-index: 500;
}

.description-assort {
  position: fixed;
  top: 100000px;
}

.n-active {
  position: absolute;
  right: 0;
  top: 20px;
  text-align: left;
  width: 400px;
  font-size: 13px;
}
.description-footer{
  font-size: 13px;
  display: none;
}
.description-footer h5{
  margin: 50px 0 20px 0;
}

.zavod-ocean {
  margin-top: 50px;
  text-align: center;
}

.zavod-ocean > h4 {
  font-family: "Carlito-Bold";
}

.container-zavod {
  display: flex;
}

.container-zavod {
  margin-top: 20px;
  padding: 0 49px;
}

.img-zavod {
  margin-right: 20px;
}

.description-zavoid {
  /* max-width: 700px; */
  font-size: 13px;
  text-align: left;
}

.blog {
  margin-top: 100px;
  min-height: 300px;
  margin-bottom: 50px;
}

.blog > h4 {
  text-align: center;
  font-family: "Carlito-Bold";
}

.container-blog {
  display: flex;
  padding: 0 50px;
  margin-top: 20px;
}

.blog-content {
  display: flex;
  width: 50%;
  padding-right: 30px;
}
.blog-content:hover {
  cursor: pointer;
}

.blog-content > img {
  margin-right: 20px;
}

.blog-content > div > h5 {
  font-family: "Carlito-Bold";
}
.blog-content > div > p {
  font-size: 14px;
}
.blog-content > div > p > span {
  color: #5bb66f;
  font-weight: bold;
}

.footer-blog {
  padding-top: 20px;
  text-align: center;
}

.footer {
  background-color: #616060;
  color: #fff;
}
footer a {
  text-decoration: none;
  color: white;
}

.footer-inner {
  display: flex; 
  align-items: flex-start;
  justify-content: space-between;
  /* padding: 25px 52px 0 52px; */
}

.footer-1 > img {
  margin-bottom: 325px;
  margin-right: 60px;
}
.footer-1 nav ul,.footer-2 nav ul,.footer-3 nav ul{
    vertical-align: top;
}
.footer-2 > nav {
  display: flex;
  margin-right: 40px;
  text-align: left;
}

.footer-2 > nav > ul {
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none; 
  align-items: flex-start;
}

.footer-2 > nav > ul > li {
  margin-bottom: 16px;
}
.footer-2 > nav > ul > li {
  font-size: 14px;
}

.footer-2 > nav > ul:nth-of-type(1) {
  font-family: "Carlito-Bold";
}

.footer-2 > nav > ul > li:nth-of-type(1) {
  font-family: "Carlito-Bold";
}
.footer-3 {
  max-width: 500px;
}

.contacts-zavod {
  display: flex;
}

.contacts-zavod > div {
  margin-right: 25px;
  margin-bottom: 25px;
}

.contacts-zavod > div > p > img {
  margin-right: 10px;
}

.geo > nav {
  position: relative;
  background-image: url("../img/png/map.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.geo > h4 {
  font-family: "Carlito-Bold";
}

.geo > nav {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.geo > nav > ul {
  padding-inline-start: 0px;
  margin-right: 25px;
}

.geo > nav > ul > li {
  margin-top: 15px;
}

.main-menu {
  position: absolute;
  height: 729px;
  background-color: #4f9f62de;
  top: 238px;
  width: 100%;
  z-index: 10;
}

.close-mobile {
  position: relative;
  transform: rotate(270deg);
  padding: 10px;
  cursor: pointer;
}

.close-mobile > span > b {
  font-size: 35px;
  color: #fff;
  transform: rotate(45deg);
  display: block;
  width: 25px;
}

.menu-inner {
  padding: 25px 225px;
  color: #fff;
  display: flex;
}

.menu-inner > nav {
  display: flex;
}

.menu-inner > nav > ul > li:nth-of-type(1) {
  font-family: "Carlito-Bold";
}

.menu-inner > nav > ul:nth-of-type(1) {
  font-family: "Carlito-Bold";
}

.menu-inner > nav > ul > li {
  margin-top: 15px;
}
.menu-inner > nav > ul > li a {
  text-decoration: none;
  color: white;
}

.menu-inner > nav > ul:nth-of-type(3) {
  margin-right: 50px;
}

.blog-menu {
  display: flex;
  font-size: 14px;
  margin-bottom: 30px;
}

.blog-menu > img {
  margin-right: 10px;
}

.blog-menu > div > h5 {
  font-family: "Carlito-Bold";
}

.no-active {
  position: fixed !important;
  top: 1000000px !important;
}

@media (max-width: 1410px) {
  .full-description {
    height: 300px;
  }
  .full-description > img{
    height: 300px;
  }
}
@media (max-width: 1250px) {
  .aspect-block{
    width: 320px;
  }
  .assortment{
    padding: 0 50px;
  }
  footer {
    display: block;
    max-height: auto;
  }
  .footer-inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    font-size: 12px;
  }

  .footer-inner { 
    max-height: auto;
  }
  .footer-1 > p{
    display: block;
    font-size: 14px;
  }
  .footer-1{
    display: flex;
    align-items: center;
  }
  .footer-2{
    text-align: center;
  }
  .footer-2 nav{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-3{
    text-align: center;
  }
  .footer-1 > img {
    margin-bottom: 0;
  }  
  .footer-2 {
    margin: 0 auto;
    width: 90%;
  }

  

  .geo  {
    display: none;
  }

  .contacts-zavod {
    text-align: center;
  }

  .navbar {
    height: 80px;
  }

  .main-menu {
    top: 253px;
  }

  .blog-menu > img {
    width: 0px;
    height: 0px;
  }

  .blog-menu {
    font-size: 0px;
  }

  .blog-menu > div > h5 {
    font-size: 0px;
  }

  .menu-inner > nav > ul:nth-of-type(4) > li {
    font-size: 0px;
  }

  .menu-inner > nav {
    margin: 0 auto;
  }

  .menu-inner {
    padding: 25px 5%;
  }
}

@media (max-width: 1024px) {
  .content-assortment {
    display: block;
  }

  .container-blog {
    display: block;
  }

  .blog-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .ul-navbar {
    padding: 0;
    justify-content: center;
  }
  .ul-navbar li {
    margin-left: 5px;
  }
}

@media (max-width: 850px) {
  .container-zavod {
    display: block;
  }

  .assortment {
    padding: 0 35px;
  }

  .ham-menu {
    margin-right: 0px;
  }

  .param {
    width: 99%;
  }

  .prew-tea {
    width: 63%;
  }
}

@media (max-width: 768px) {
  .assortment {
    padding: 0 5%;
  }

  .description-zavoid {
    margin-top: 20px;
  }

  .img-zavod > img {
    width: 500px;
    height: 250px;
  }

  .navbar {
    height: 130px;
  }
  .navbar .inner-block{
    padding: 0;
  }

  .header .inner-block{
    padding-bottom: 20px;
    align-items:flex-end
  }
  .logotiap-block{
    transform: translate(-50%,-20px);
  }

  .main-menu {
    top: 278px;
  }

  .footer .geo{
    display: block; 
  }
  .footer-3 {
    margin: 0 auto;
  }
  .footer-2 nav {
    margin: 0 ;
    display: flex; 
  }
  .aspects{ 
    margin-top: 20px;
  }

  .paralax > img:nth-of-type(7) {
    margin-left: 125px ;
  }
}

@media (max-width: 745px) {
  .block-8 {
    margin-top: 15px;
  }

  .full-description {
    width: auto;
  }

  .description-assort {
    font-size: 0px !important;
  }
  .description-footer{
    display: block;
  }

  .description-assort > h5 {
    font-size: 0px;
  }
  .n-active{

  }

  .prew-tea {
    left: 25%;
    bottom: 30px;
    height: 200px;
  }
  .footer-1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-1 img{
    margin: 0;
    margin-bottom: 14px;
  }

  .footer-3 {
    font-size: 12px;
    margin-top: 20px;
  }
  .geo{
    font-size: 8px;
  }
  .footer-2{

  }
  .footer-2 li a{
    font-size: 8px;
  }
}

@media (max-width: 620px) {
  body{
    overflow-x: hidden;
  }
  .blog-content {
    display: block;
  }

  .blog-content > div {
    margin-top: 20px;
  }

  .block-8 {
    margin-left: 75px;
  }

  .main-menu {
    top: 298px;
  }

  .menu-inner > nav > ul:nth-of-type(1) {
    font-size: 0px;
  }

  .menu-inner > nav > ul:nth-of-type(2) {
    margin-right: 10px;
  }

  .menu-inner > nav > ul {
    padding-inline-start: 0px;
  }
 
  .aspects ul{
    padding: 0;
  }
  .aspects nav li{
    padding: 0;
    margin: 0; 
  }
  .aspect-block{
    max-width: 350px;
    margin: 0 auto ;
  }

  .full-description{
    margin-top: 30px;
  }
  .footer-2 nav ul{
    padding: 0;
  }
  .footer-2 nav ul li{
    margin-bottom: 10px;
  }
  .geo nav ul{
    margin: 0;
  }
  .blog-content img{
      object-fit: cover;
    
  }  
  .blog{
    margin-top: 50px;
  }
  .blog .title-section{
    margin: 30px 0 10px 0;
  }
}

@media (max-width: 568px) {
  .footer-2 > nav {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none; 
    align-items: flex-start;
  }

  .img-zavod > img {
    width: 350px;
    height: 150px;
  }
 

  .block-8 {
    margin-bottom: 150px;
  }

  .block-8 {
    margin-left: 0px;
    width: auto;
    margin-bottom: 0;
  }

  .paralax > img:nth-of-type(1) {
    width: 300px;
  }

  .paralax > img:nth-of-type(3) {
    width: 300px;
  }
}

@media (max-width: 455px) {
  .mini-navigation > li {
    margin-left: 10px;
  }

  .nav-aspects {
    padding-inline-start: 0px;
  }

  .nav-aspects > li {
    padding: 0;
    margin: 0;
  }

  .img-zavod > img {
    width: 300px;
    height: 150px;
  }

  .container-blog {
    padding: 5%;
  }

  .navbar > .inner-block {
    padding: 0;
  }
  .aspect-block{
    max-width: 300px;
  }
}

@media (max-width: 375px) {
  .container-zavod {
    padding: 5px;
  }

  .blog-content > img {
    width: 200px;
  }

  .paralax > img:nth-of-type(3) {
    width: 250px;
  }

  .paralax > img:nth-of-type(5) {
    width: 200px;
  }
}

@media (max-width: 320px) {
  .mini-navigation {
    padding-inline-start: 0px;
  }

  .param {
    width: 0px;
    height: 0px;
  }

  .prew-tea {
    width: 200px;
    height: 150px;
  }

  .full-description {
    height: 200px;
  }
}

/* for animation  */
 
#bootle-1{
  left: 0px;
}
#bootle-2{
  left: calc(155+ 250px)!important;
}
.paralax > img:nth-of-type(7) {
  position: absolute;
  bottom: 0;
  left: calc(155px + 50px);
  z-index: 1;
}